<header>
    <nav>
        <div>
            <img src="" class="icon" alt="" /> 
        </div>

        <div>
            <div class="flex-start-row ">
                <div>
                    <a href="#" class="disappear link-menu">Features</a>
                </div>
                <div class="ml-3">
                    <a href="#" class="disappear link-menu">Nosso App</a>
                </div>
                <div class="ml-3">
                    <a href="#" class="btn-small">Junte-se a nós</a>
                </div>
            </div>
        </div>
        
    </nav>
</header>