<!--==============================-->
<!--============ HERO ============-->
<!--==============================-->
<div class="bg-black relative hidden py-5">

    <div class="bg-hero">
        <img src="../../../assets/svg/bg-hero.svg" class="svg-hero" alt="" />
    </div>

    <section class="container flex-center hero">
        <div class="row">
            <div class="grid-7">
                <h6 class="h7 uppercase color-gradient line-hero">uma nova era</h6>
                <div class="">
                    <h1 class="color-white">
                        O banco <span class="icon1-hero">&nbsp;</span>
                        pra chamar de <span class="icon2-hero">&nbsp;</span> <span class="color-gradient">seu</span>
                    </h1>
                </div>

                <p class="mt-3" style="max-width: 520px;">
                    Lorem ipsum dolor sit amet consectetur. Et ut tempus
                    facilisis tristique. Vitae consequat vel tortor aenean imperdiet posuere neque.
                </p>

                <a href="#" class="btn mt-4">Junte-se a nós</a>

                <div class="mt-4">
                    <img src="../../../assets/svg/fig10-paybank.png" class="icon-xxl" alt="" loading="lazy" />
                </div>


            </div>
            <div class="grid-5 relative div-card">

                <!--============ CARD VERSE ============-->
                <div class="card-fig card-verse card-transform-verse card-black">
                    <div class="card-number p-2">
                        <img src="../../../assets/svg/icon-mastercard.svg" class="icon" alt="" />
                        <h6 class="color-white h7 text-right mt-1">•••• 4859</h6>
                    </div>
                </div>

                <!--============ CARD FRONT ============-->
                <div class="card-fig card-front card-transform-front">
                    <div class="card-logo p-2">
                        <img src="../../../assets/svg/logo-card.svg" class="icon" alt="" />
                    </div>
                    <div class="card-contactless p-2">
                        <img src="../../../assets/svg/icon-contactless.svg" class="icon-s" alt="" />
                    </div>

                    <div class="card-content-description p-2">
                        <h6 class="color-white h7">NASSER Y S ALI</h6>

                        <img src="../../../assets/svg/icon-mastercard.svg" class="icon mt-3" alt="" />
                    </div>
                </div>

                <!--============ CARD ICONS ============-->
                <div class="bg-icon-white mr-1 icon-1-fig">
                    <img src="../../../assets/svg/icon-smartphone.svg" class="icon" alt="" />
                </div>

                <div class="bg-icon-white mr-1 icon-2-fig">
                    <img src="../../../assets/svg/icon-fingerprint.svg" class="icon" alt="" />
                </div>

                <div class="bg-icon-white mr-1 icon-3-fig">
                    <img src="../../../assets/svg/icon-shield.svg" class="icon" alt="" />
                </div>

            </div>
        </div>
    </section>
</div>

<!--==============================-->
<!--============ TENHA CONTROLE ============-->
<!--==============================-->
<section class="container" id="section-1">
    <div class="row">
        <div class="grid-5">
            <h6 class="uppercase color-gradient h7">controle total</h6>
            <h3 class="mt-1">
                Todo o controle financeiro em um só lugar
            </h3>
            <p class="mt-3">
                Veja como você pode cuidar das suas finanças
                pelo app Paybank de forma segura, rápida e o
                melhor, no corforto da sua casa.
            </p>


            <!--============ CARD VERSE ============-->
            <div class="relative" style="min-height: 420px;">

                <div class="card-fig card-verse card-transform-verse-2 card-black mt-5">
                    <div class="card-number p-2">
                        <img src="../../../assets/svg/icon-mastercard.svg" class="icon" alt="" />
                        <h6 class="color-white h7 text-right mt-1">•••• 4859</h6>
                    </div>
                </div>

                <!--============ CARD FRONT ============-->
                <div class="card-fig card-front card-transform-front-2">
                    <div class="card-logo p-2">
                        <img src="../../../assets/svg/logo-card.svg" class="icon" alt="" />
                    </div>
                    <div class="card-contactless p-2">
                        <img src="../../../assets/svg/icon-contactless.svg" class="icon-s" alt="" />
                    </div>

                    <div class="card-content-description p-2">
                        <h6 class="color-white h7">NASSER Y S ALI</h6>

                        <img src="../../../assets/svg/icon-mastercard.svg" class="icon mt-3" alt="" />
                    </div>
                </div>
            </div>


        </div>
        <div class="grid-1"></div>
        <div class="grid-3">
            <div>
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-account.svg" class="icon" alt="" />
                </div>
                <div class="mt-2">
                    <h6>Acompanhe sua conta</h6>
                    <p class="mt-1">Acompanhar sua conta, fazer transferências e pagamentos de onde estiver.</p>
                </div>
            </div>

            <div class="mt-5">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-bar.svg" class="icon" alt="" />
                </div>
                <div class="mt-2">
                    <h6>Investimentos</h6>
                    <p class="mt-1">Diversas opções de investimentos, de acordo com o seu perfil de investidor.</p>
                </div>
            </div>

            <div class="mt-5">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-swap.svg" class="icon" alt="" />
                </div>
                <div class="mt-2">
                    <h6>Câmbio</h6>
                    <p class="mt-1">Diversas opções de investimentos, de acordo com o seu perfil de investidor.</p>
                </div>
            </div>
        </div>

        <div class="grid-3">
            <div>
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-no-tax.svg" class="icon" alt="" />
                </div>
                <div class="mt-2">
                    <h6>Sem taxas</h6>
                    <p class="mt-1">Acompanhar sua conta, fazer transferências e pagamentos de onde estiver.</p>
                </div>
            </div>

            <div class="mt-5">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-card-virtual.svg" class="icon" alt="" />
                </div>
                <div class="mt-2">
                    <h6>Cartão virtual</h6>
                    <p class="mt-1">Acompanhe a fatura do seu cartão de crédito e faça compras online com seu cartão
                        virtual.</p>
                </div>
            </div>

            <a href="#" class="btn-freq mt-6 ml-3">Perguntas <br />Frequentes</a>
        </div>

    </div>
</section>

<!--==============================-->
<!--====== RESOLVA TUDO PELO APP ======-->
<!--==============================-->
<section class="container" id="section-2">
    <div class="row">
        <div class="grid-5">
            <h6 class="uppercase color-gradient h7">FEITO PENSANDO EM VOCÊ</h6>
            <h2 class="mt-1">
                Resolva tudo pelo <span class="color-gradient py-1">App</span>
            </h2>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur. Et ut tempus
                facilisis tristique. Vitae consequat vel tortor aenean
                imperdiet posuere neque. Sollicitudin at at volutpat
                scelerisque ut aliquet velit tempor.
            </p>

            <div class="flex-start-row mt-4 mb-2">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-chart.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Controle total sobre seus gastos</h6>
                    <p class="p4 mt-1">Tudo na palma da sua mão</p>
                </div>
            </div>

            <div class="flex-start-row mt-4 mb-2">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-investment.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Acesso a uma carteira de investimentos</h6>
                    <p class="p4 mt-1">Tudo na palma da sua mão</p>
                </div>
            </div>
        </div>
        <div class="grid-1 disappear"></div>
        <div class="grid-6">
            <img src="../../../assets/svg/fig4-paybank.png" class="" alt="" />
        </div>
    </div>
</section>




<!--==============================-->
<!--============ É A ONDA DO FUTURO ============-->
<!--==============================-->
<section class="container" id="section-3">
    <div class="row">
        <div class="grid-6">
            <h6 class="uppercase color-gradient h7">o futuro</h6>
            <h2 class="mt-1">
                É a onda do <span class="color-gradient">futuro</span>
            </h2>

            <div class="flex-start-row mt-4">
                <a href="#" class="btn-white flex-start-row">
                    <img src="../../../assets/svg/icon-apple.svg" class="icon fill-svg-green" alt="" />
                    <h6 class="h7 ml-1">Apple&nbsp;Pay</h6>
                </a>
                <a href="#" class="btn-white flex-start-row ml-2">
                    <img src="../../../assets/svg/icon-googleplay.svg" class="icon fill-svg-green" alt="" />
                    <h6 class="h7 ml-1">Google&nbsp;Pay</h6>
                </a>
            </div>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur. Et ut tempus
                facilisis tristique. Vitae consequat vel tortor aenean
                imperdiet posuere neque. Sollicitudin at at volutpat
                scelerisque ut aliquet velit tempor.
            </p>

            <div class="flex-start-row mt-4 mb-5">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-arrow-up.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Warranty documents</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>

            <div class="flex-start-row mt-2 mb-5">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-card.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Quick credit</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>

            <div class="flex-start-row mt-3">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-download.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Create Deposit</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>
        </div>
        <div class="grid-6 relative flex-center px-5">
            <img src="../../../assets/svg/fig9-paybank.svg" alt="" />

            <div class="bg-icon-white" id="icon1-fig9">
                <img src="../../../assets/svg/icon-smartphone.svg" class="icon" alt="" />
            </div>

            <div class="bg-icon-white" id="icon2-fig9">
                <img src="../../../assets/svg/icon-heart.svg" class="icon" alt="" />
            </div>

            <div class="bg-icon-white" id="icon3-fig9">
                <img src="../../../assets/svg/icon-card.svg" class="icon" alt="" />
            </div>
        </div>
    </div>
</section>

<!--==============================-->
<!--===== POR TRÁS DISSO SÃO PESSOAS =====-->
<!--==============================-->
<section class="container" id="section-4">
    <div class="row">
        <div class="grid-6">
            <div class="people-paybank p-3">
                <img src="../../../assets/svg/img1-paybank.png" alt="" />
            </div>
        </div>
        <div class="grid-6">
            <h6 class="uppercase color-gradient h7">pessoas reais</h6>
            <h3 class="mt-1">
                Por trás disso tudo, tem um objetivo:
                <span class="color-gradient">pessoas</span>
            </h3>
            <p class="mt-3">
                Lorem ipsum dolor sit amet consectetur. Et ut tempus
                facilisis tristique. Vitae consequat vel tortor aenean
                imperdiet posuere neque. Sollicitudin at at volutpat
                scelerisque ut aliquet velit tempor.
            </p>
        </div>

    </div>
    <div class="row">
        <div class="grid-6">
            <div class="people-paybank p-3">
                <img src="../../../assets/svg/img2-paybank.png" alt="" />
            </div>

            <a href="#" class="btn-white flex-start-row mt-4" style="display: inline-block;">
                <div class="flex-start-row">
                    <img src="../../../assets/svg/icon-instagram.svg" class="icon fill-svg-green" alt="" />
                    <h6 class="h7 mx-1">Instagram</h6>
                    <img src="../../../assets/svg/icon-arrow-up.svg" class="icon fill-svg-green" alt="" />
                </div>
            </a>

            <h4 class="mt-3">Por isso, nos siga no <br /> Instagram</h4>
        </div>
        <div class="grid-6">
            <div class="people-paybank p-2">
                <img src="../../../assets/svg/img3-paybank.png" alt="" />
            </div>
        </div>

    </div>
</section>


<!--==============================-->
<!--===== SUA SEGURANÇA É NOSSA PRIORIDADE =====-->
<!--==============================-->
<section class="container" id="section-5">
    <div class="row">
        <div class="grid-5">
            <h6 class="uppercase color-gradient h7">investimentos</h6>
            <h3 class="mt-1">
                A sua segurança é nossa <span class="color-gradient py-1">prioridade</span>
            </h3>
            <p class="mt-3">
                Sua segurança, confiabilidade, controle de suas
                finanças é o principal compromisso da Paybank.
            </p>

            <div class="mt-3 pb-4 bb-gray hidden flex-start-row">
                <div class="bg-icon-white icon-click mr-1">
                    <img src="../../../assets/svg/icon-smartphone.svg" class="icon " alt="" />
                </div>

                <div class="bg-icon-white icon-click mr-1">
                    <img src="../../../assets/svg/icon-fingerprint.svg" class="icon " alt="" />
                </div>

                <div class="bg-icon-white icon-click mr-1">
                    <img src="../../../assets/svg/icon-card.svg" class="icon " alt="" />
                </div>

                <div class="bg-icon-white icon-click mr-1">
                    <img src="../../../assets/svg/icon-shield.svg" class="icon " alt="" />
                </div>
            </div>

            <div class="mt-3 relative" style="min-height: 180px;">


                <div class="text-click">
                    <h4>Controle do cartão pelo App</h4>
                    <p class="mt-2">Perdeu o cartão ou suspeita de roubo? Bloqueie e desbloqueie o cartão pelo
                        aplicativo em segundos.</p>
                </div>

                <div class="text-click">
                    <h4>Acesso protegido</h4>
                    <p class="mt-2">Uma camada extra de segurança para acessar o aplicativo com reconhecimento facial,
                        impressão digital ou senha.</p>
                </div>

                <div class="text-click">
                    <h4>Suporte</h4>
                    <p class="mt-2">Digite sua senha para confirmar transações e reporte qualquer movimentação não
                        autorizada por você.</p>
                </div>

                <div class="text-click">
                    <h4>Transações seguras</h4>
                    <p class="mt-2">Digite sua senha para confirmar transações e reporte qualquer movimentação não
                        autorizada por você.</p>
                </div>

            </div>
        </div>
        <div class="grid-1 disappear"></div>
        <div class="grid-6 relative" style="min-height: 260px;">
            <img src="../../../assets/svg/fig5-paybank.png" class="img-paybank" alt="" loading="lazy" />
            <img src="../../../assets/svg/fig6-paybank.png" class="img-paybank" alt="" loading="lazy" />
            <img src="../../../assets/svg/fig7-paybank.png" class="img-paybank" alt="" loading="lazy" />
            <img src="../../../assets/svg/fig8-paybank.png" class="img-paybank" alt="" loading="lazy" />

            <img src="../../../assets/svg/pattern.svg" class="pattern-paybank" alt="" loading="lazy" />
        </div>
    </div>
</section>


<!--==============================-->
<!--===== INVESTIMENTOS =====-->
<!--==============================-->
<section class="container" id="section-6">
    <div class="row">
        <div class="grid-6">
            <h6 class="uppercase color-gradient">investimentos</h6>
            <h3 class="mt-1">
                Mais dinheiro na sua <span class="color-gradient py-1">carteira</span>
            </h3>

            <div>

                <h6 class="color-gray mt-4">Para começar, qual o valor você gostaria de investir</h6>
                <div class="flex-space">
                    <h5 class="mt-1 bold">R$ <span class="money-investment">1000</span> </h5>
                    <div class="flex-start-row">

                        <div class="button-minus flex-center button-minus-money">
                            <img src="../../../assets/svg/icon-minus.svg" class="icon" alt="" />
                        </div>
                        <div class="button-plus flex-center ml-3 button-plus-money">
                            <img src="../../../assets/svg/icon-plus.svg" class="icon" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h6 class="color-gray mt-3">Quanto tempo deixaria seu dinheiro investido?</h6>
                <div class="flex-space">
                    <h5 class="mt-1 bold"> <span class="time-investment">12</span> meses</h5>
                    <div class="flex-start-row">

                        <div class="button-minus flex-center button-minus-time">
                            <img src="../../../assets/svg/icon-minus.svg" class="icon" alt="" />
                        </div>
                        <div class="button-plus flex-center ml-3 button-plus-time">
                            <img src="../../../assets/svg/icon-plus.svg" class="icon" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-1 disappear"></div>
        <div class="grid-5">

            <p class="mt-1">
                Aqui na Paybank, você investe com ao menos <b>100% do CDI (13.75%&nbsp;a.a.)</b>
                automaticamente, aqui seu dinheiro rende bem mais que a
                poupança. Coloque os valores e veja você mesmo.
            </p>

            <div class="bt-gray mt-4">
                <h6 class="color-gray mt-4">na sua carteira terá</h6>
                <h2 class="color-gradient my-2">R$ <span class="result-investment">60845.54</span> </h2>
                <h6 class="color-gray">em 1 ano rendendo na PayBank</h6>

            </div>

            <p class="text-center p5 mt-6" style="max-width: 580px;">
                Valores utilizados no simulador de investimentos
                (referentes à data de última atualização - esses
                valores podem alterar de acordo com o mercado): <br />
                Data da última atualização: 03/03/23
            </p>

        </div>
    </div>
</section>



<!--==============================-->
<!--===== CARTAO PAYBANK =====-->
<!--==============================-->
<section class="container" id="section-7">
    <div class="row">
        <div class="grid-6 relative div-card">

            <div class="card-fig card-verse card-black card-1-scrub">
                <div class="card-number p-2">
                    <img src="../../../assets/svg/icon-mastercard.svg" class="icon" alt="" />
                    <h6 class="color-white h7 text-right mt-1">•••• 4859</h6>
                </div>
            </div>

            <div class="card-fig card-front card-2-scrub">
                <div class="card-logo p-2">
                    <img src="../../../assets/svg/logo-card.svg" class="icon" alt="" />
                </div>
                <div class="card-contactless p-2">
                    <img src="../../../assets/svg/icon-contactless.svg" class="icon-s" alt="" />
                </div>

                <div class="card-content-description p-2">
                    <h6 class="color-white h7">NASSER Y S ALI</h6>

                    <img src="../../../assets/svg/icon-mastercard.svg" class="icon mt-3" alt="" />
                </div>
            </div>


        </div>
        <div class="grid-6">
            <h6 class="uppercase color-gradient">um cartão pra chamar de seu</h6>
            <h2 class="mt-1">
                Minimalista. Simples. Eficiente.
            </h2>
            <p class="mt-3">
                Revid Card features an RFID transponder in its core that
                enables you to pay with a touch-free wave.
            </p>

            <div class="flex-start-row mt-4 mb-4">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-vip.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Acesso a salas VIP</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>

            <div class="flex-start-row mt-2 mb-4">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-card-virtual.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Cartão virtual</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>

            <div class="flex-start-row mt-2 mb-4">
                <div class="bg-icon">
                    <img src="../../../assets/svg/icon-download.svg" class="icon" alt="" />
                </div>
                <div class="ml-2">
                    <h6>Create a deposit</h6>
                    <p>An obligation in which a third party agrees to repay a debt.</p>
                </div>
            </div>

        </div>
    </div>
</section>


<!--==============================-->
<!--===== TUDO QUE VOCÊ PRECISA =====-->
<!--==============================-->
<div class="bg-black-light relative hidden">

    <div class="bg-cta">
        <img src="../../../assets/svg/bg-hero.svg" alt="" />
    </div>

    <section class="container" id="section-8">
        <div class="row text-cta">
            <div class="grid-2"></div>
            <div class="grid-8 flex-center flex-column">
                <h6 class="uppercase color-gradient text-center">paybank</h6>
                <h2 class="mt-1 color-white text-center">
                    Tudo que você precisa em um só lugar
                </h2>
                <p class="mt-3 text-center">
                    We plant a tree for everyone who pre-registers and
                    every new customer. And we're planning to plant millions.
                </p>

                <a href="#" class="btn mt-4">Junte-se a nós</a>
            </div>
            <div class="grid-2"></div>
        </div>
    </section>
</div>